@import url('@kern-ux/native/dist/kern.min.css');
@import url('@kern-ux/native/dist/fonts/fira-sans.css');

body {
	margin: 0;
	padding: 0;
}

.kern-link {
	color: blue !important;

	&>.kern-icon {
		background-color: blue !important;
	}
}